@{
    ViewData["Title"] = "Not Authorized.";
}
<h1>@User.Identity.Name  is not authorized.  Click <a href="https://login.microsoftonline.com/common/oauth2/logout">here to sign out</a>.  Please contact Admin.</h1>
